<div class="pos-order">
  <div class="pos-order-product">
    <div
      class="img"
      [ngStyle]="{ 'background-image': 'url(' + product.dish.image }"
    ></div>
    <div class="flex-1">
      <div class="h6 mb-1">{{ product.dish.name }}</div>
      <div class="small mb-1">${{ product.dish.price.toFixed(2) }}</div>
      <div class="small mb-2 text-white details">
        <ul>
          @for (detail of product.details; track $index) {
          <ng-container>
            <li *ngIf="$index < product.details.length - 1">- {{ detail }}</li>
            <li *ngIf="$index === product.details.length - 1">- {{ detail }}</li>
          </ng-container>
          }
        </ul>
      </div>
      <app-quantity-controls [quantity]="product.quantity" [id]="product.id"/>
    </div>
  </div>

  <div class="pos-order-price text-white">
    ${{ (product.dish.price * product.quantity).toFixed(2) }}
  </div>
</div>
