<div class="app-container">
  <div class="app-container-content">
    <!-- sidebar -->
    <aside class="app-caterogy" [class.active]="isCardClick">
      <app-caterogy  />
    </aside>

    <!-- dish content -->
    <main class="app-dish-content" [class.active]="isCardClick">
      <app-dish />
    </main>

    <!-- order summy -->
    <aside class="app-order-summary" [class.active]="isCardClick">
      <button class="app-order-btn-back" [class.active]="isCardClick" (click)="onHandleBackClick()">
        <i class="fa fa-angle-left"></i>
      </button>
      <app-new-order />
    </aside>
  </div>

  <app-card-button class="app-btn-card" [class.active]="isCardClick" (click)="onHandleCardClick()"></app-card-button>
</div>
