.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: rgb(48, 60, 73);
  box-sizing: border-box;
}

.app-container-content {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  margin: 25px;
  box-sizing: border-box;
  border: solid 1px white;
}

.app-caterogy {
  width: 15%;
}

.app-dish-content {
  width: 55%;
  overflow: auto;
  padding: 25px;
}

.app-order-summary {
  width: 30%;
}

/* Responsive design for smaller screens */
@media (max-width: 1024px) {
  .app-container-content {
    flex-direction: column;
    box-sizing: border-box;
  }

  .app-caterogy {
    width: 100%;
    box-sizing: border-box;
  }

  .app-dish-content {
    width: 100%;
    box-sizing: border-box;
  }

  .app-order-summary {
    display: none;
  }
}
