<div class="dialog-wrap">
  <div class="dialog-container">
    <button class="close-btn" (click)="closeDialog()">
      <mat-icon class="close-btn-icon">close</mat-icon>
    </button>

    <div class="dialog-image">
      <img [src]="dish.image" alt="{{ dish.name }}" />
    </div>
    
    <div class="dialog-details">
      <div class="dialog-details-header">
        <header class="dd-header">
          <h2>{{ dish.name }}</h2>
        </header>

        <p class="ingredients">{{ dish.ingredients.join(", ") }}</p>
        <p class="price">${{ dish.price.toFixed(2) }}</p>

        <app-quantity-controls [quantity]="quantity" />
      </div>

      <section class="options">
        <h3>Size:</h3>
        <div class="option-group">
          @for (sz of sizes; track $index) {
          <button
            [class.selected]="sz === selectedSize"
            (click)="selectSize(sz)"
          >
            <p>{{ sz.label }}</p>
            <span>+ {{ sz.extra.toFixed(2) }}</span>
          </button>
          }
        </div>

        <h3>Add On:</h3>
        <div class="option-group">
          @for (add of adds; track $index) {
          <button
            [class.selected]="selectedAdds.has(add)"
            (click)="toggleAdd(add)"
          >
            <p>{{ add.label }}</p>
            <span>+ {{ add.extra.toFixed(2) }}</span>
          </button>
          }
        </div>

        <h3>Review:</h3>
        <div class="dialog-rating">
          <app-rating [(rating)]="userRating"></app-rating>
        </div>
      </section>

      <div class="dialod-btn">
        <button class="dialog-btn-cancle" (click)="closeDialog()">Cancle</button>
        <button class="dialog-btn-add" (click)="addToOrder()">Add to card +</button>
      </div>
    </div>
  </div>
  <app-toast-message #toast></app-toast-message>
</div>

