<div class="sidebar">
  <div class="logo">
    <i class="fa fa-th-large"></i>
    <div class="logo-text">Pine & Dine</div>
  </div>

  <ul class="menu">
    <li class="menu-item active" (click)="onCategoryChange('all')">
      <i class="fa fa-fw fa-utensils"></i>
      <span>ALL DISHES</span>
    </li>
    <li class="menu-item" (click)="onCategoryChange('meat')">
      <i class="fa fa-fw fa-drumstick-bite"></i>
      <span>MEAT</span>
    </li>
    <li class="menu-item" (click)="onCategoryChange('burger')">
      <i class="fa fa-fw fa-hamburger"></i>
      <span>BURGER</span>
    </li>
    <li class="menu-item" (click)="onCategoryChange('pizza')">
      <i class="fa fa-fw fa-pizza-slice"></i>
      <span>PIZZA</span>
    </li>
    <li class="menu-item" (click)="onCategoryChange('drinks')">
      <i class="fa fa-fw fa-cocktail"></i>
      <span>DRINKS</span>
    </li>
    <li class="menu-item" (click)="onCategoryChange('desserts')">
      <i class="fa fa-fw fa-pizza-slice"></i>
      <span>DESSERTS</span>
    </li>
    <li class="menu-item" (click)="onCategoryChange('snacks')">
      <i class="fa fa-fw fa-cocktail"></i>
      <span>SNACKS</span>
    </li>
  </ul>
</div>
