<div class="sidebar">
  <div class="logo">
    <i class="fa fa-th-large"></i>
    <div class="logo-text">Pine & Dine</div>
  </div>

  <ul class="menu">
    <li
      class="menu-item active"
      [ngClass]="{ active: selectedCategory === -1 }"
      (click)="onCategoryChange(-1)"
    >
      <i class="fa fa-fw fa-utensils"></i>
      <span>ALL DISHES</span>
    </li>

    <!-- lỗi active -->
    @for (category of categoryList; track $index) {
    <li
      class="menu-item"
      [ngClass]="{ active: selectedCategory === category.id }"
      (click)="onCategoryChange(category.id)"
    >
      <i [class]="category.icon"></i>
      <span>{{ category.name }}</span>
    </li>
    }
  </ul>
</div>
